<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    >    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/profile.css">

    <title>Hostel Complaints</title>

    <style> 
   
    </style>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="body profile">
        <div class=container>
            <div class="row">
                <div class="col-12 col-sm-12">
                <h3>User Profile</h3>
                <hr>
                </div>
            </div>
            <div class="row row-content">
                <!-- <div class="col-xs-6 col-sm-6 col-md-6">
                    <img class="img-fluid profile-img" src="../public/assets/pic1.jpg"></img>
                </div> -->
                <div class="col-xs col-sm col-md">
                    <div class="card shadow-lg">
                        <h3 class="card-header text-white">Your Details</h3>
                        <div class="card_body">
                                <dl class="row">
                                <dt class="col-md-6">Email:</dt>
                                    <dd class="col-md-6"><%=datas.email%></dd>                                
                                <dt class="col-md-6">Name:</dt>
                                    <dd class="col-md-6"><%=datas.name%></dd>
                                <dt class="col-md-6">Hostel Name:</dt>
                                    <dd class="col-md-6"><%=datas.HostelName%></dd>
                                <dt class="col-md-6">Room No.:</dt>
                                    <dd class="col-md-6"><%=datas.RoomNo%></dd>
                                <dt class="col-md-6">No. of complains pending</dt>
                                    <dd class="col-md-6"><%=datas.TotalComplain%></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
